<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= domain %></title>
  <link rel="stylesheet" href="/main.css">
  <link rel="icon" href="/@king/icon">
</head>
<body>
<div class="container">
