on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: canidae-solutions/lix-quick-install-action@v3
      - run: nix flake check -vL
        timeout-minutes: 15
